.rn_TextInput {
    clear:both;
    margin-bottom:8px;
}
.rn_TextInput .rn_Label {
    display:block;
    font-weight:bold;
    margin-bottom:2px;
}
.rn_TextInput .rn_Text,
.rn_TextInput .rn_Password,
.rn_TextInput .rn_TextArea {
    width:60%;
}
.rn_TextInput .rn_Mask {
    color:#555;
    font-style:italic;
    margin:4px 12px;
}
.rn_TextInput .rn_MaskOverlay {
    background-color:#EEE;
    border:1px solid #CCC;
    color:#222;
    margin-top:20px;
    opacity:.9;
    padding:11px;
    position:absolute;
    -moz-border-radius:11px;
    -webkit-border-radius:11px;
    border-radius:11px;
    -moz-box-shadow:2px 2px 2px #888;
    -webkit-box-shadow:2px 2px 2px #888;
    box-shadow:2px 2px 2px #888;
}
.rn_TextInput .rn_TextInputValidate {
    margin-top: 8px;
}

/* Password validation */
.rn_TextInput.rn_PasswordInput .yui-overlay {
    margin-left: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, 0.28)), to(rgba(180, 184, 184, 0.46)));
    background: -webkit-linear-gradient(top, rgba(204, 204, 204, 0.28), rgba(180, 184, 184, 0.46));
    background: -moz-linear-gradient(top, rgba(204, 204, 204, 0.28), rgba(180, 184, 184, 0.46));
    background: -ms-linear-gradient(top, rgba(204, 204, 204, 0.28), rgba(180, 184, 184, 0.46));
    background: linear-gradient(top, rgba(204, 204, 204, 0.28), rgba(180, 184, 184, 0.46));
    border-radius:6px;
    border: 2px solid #FFF;
    box-shadow:0 0 7px rgba(0, 0, 0, .3);
    max-width: 260px;
}
.rn_TextInput .rn_Intro {
    font-size: 1.3em;
    text-shadow: 0 1px 0 #FFF;
}
.rn_TextInput .rn_Fail {
    color: #FF0000;
}
.rn_TextInput .rn_Pass {
    color: #008000;
}