@import 'widget-includes';

.rn_OkcsSetNotificationFrequency {
    padding-top: 1.5em;
    
    .rn_OkcsNotificationHeder{
        display: inline-block;
    }

    .rn_OkcsScheduleValueData{
        display: inline-block;
        vertical-align: top;
        margin: 0 1em;
        height:2em;
    }
    
    .rn_subscriptionButton{
        vertical-align: top;
    }
}