@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
@font-face {
	font-family: Virtuos;
	src: url(../fonts/HelveticaNeueLTStd-ThCn.otf);
}
@font-face {
	font-family: Myriad;
	src: url(../fonts/MyriadPro-Regular.otf);
}
.right {
	text-align: right;
}
.fright {
	float: right;
}
h2 {
	font-size: 1.375em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
h3 {
	font-size: 0.813em;
	font-weight: bold;
	margin: 0;
	padding: 10px 0 5px 0;
}
p {
	font-size: 12px;
	margin: 0;
	padding: 0;
	line-height: 18px;
}
.pad10 {
	padding: 10px;
}
.pad20 {
	padding: 20px;
}
.marb10 {
	margin-bottom: 10px;
}
.marb20 {
	margin-bottom: 20px;
}
.marb30 {
	margin-bottom: 30px;
}
.marb40 {
	margin-bottom: 40px;
}
.marb50 {
	margin-bottom: 50px;
}
.padt10 {
	padding-top: 10px;
}
.padt20 {
	padding-top: 20px;
}
.padt30 {
	padding-top: 30px;
}
.padt40 {
	padding-top: 40px;
}
.padt50 {
	padding-top: 50px;
}
.gray-bg {
	background: #f6f6f6;
}
.white {
	color: #ffffff;
}
.orange {
	color: #ff7e00;
}
.green {
	color: #63c900;
}
.purple {
	color: #b300da;
}
.error{text-align: center;color: #ffffff !important;border: 1px solid #FF0000;border-radius: 5px;width: 90%;text-align: center;margin: 0 auto;margin-top: 20px;background: #ff0000;}
.header-container {
	width: 100%;
	height: 113px;
	background-color: #ebebeb;
}
.tvs-li {
	display: inline-block;
}
.tvs-searchbox {
	border: solid thin #a1a1a1;
	padding: 5px;
}
.search-block {
	float: right;
	display: inline;
}
.search-block input {
	padding: 6px 10px;
	line-height: 0.3em;
	background: #ffffff url(../images/search.png) no-repeat right center;
	border: 1px solid #ccc;
}
.tvs-text-gen {
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, " sans-serif";
	font-size: 13px;
	text-align: right;
}
.tvs-contact {
	width: 200px;
	float: right;
	margin-top: -12px;
}
.tvs-social {
	padding-top: 10px;
	text-align: right;
}
.tvs-logo {
	width: 180px;
	height: auto;
}
.prime-menu {
	float: right;
	width: 100%;
}
.prime-menu ul {
	text-decoration: none;
	text-align: right;
	font-size: 14px;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, ' sans-serif';
	display: inline-block;
}
.prime-menu ul li {
	color: #4e4e4e;
	width: auto;
	list-style: none;
	display: inline;
	padding-right: 10px;
}
.prime-menu ul li a {
	color: #4e4e4e;
	text-decoration: none;
}
.prime-menu ul li a:hover {
	text-decoration: underline;
}
.tvs-megamenu {
	background-color: #054fa4;
	padding: 40px;
	float: right;
	height: auto;
	display: inline-block;
}
.tvs-megamenu a {
	list-style: none;
	color: #ffffff;
	text-decoration: none;
	float: right;
}
.megamenu-container {
	width: 100%;
	height: 75px;
}
.main-menu {
	background: #054fa4;
	padding: 0px;
	width: 100%;
	float: right;
	height: 77px;
	padding-top: 10px;
}
.main-menu img {
	padding-bottom: 10px;
	text-align: center;
}
.main-menu-inner {
	background: #000;
}
.main-menu ul#menu {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
.main-menu ul li {
	float: left;
	color: #ffffff;
	padding: 0.750em;
	margin: 0 5px;
	font-size: 0.938em;
	text-transform: uppercase;
	text-align: center;
	height: 50px;
}
.main-menu ul li span {
	margin: 10px;
	line-height: 1.5em;
}
.main-menu ul li:first-child {
	margin-right: 100px;
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 20px;
	height: 41px;
}
.main-menu ul {
	padding: 0 1.250em;
	list-style: none;
	position: relative;
	display: inline-table;
}
.main-menu ul li a {
	display: block;
	padding: 0;
	color: #ffffff;
	text-decoration: none;
}
.main-menu ul li:hover {
	border-bottom: solid 5px #ffffff;
}
.main-menu ul ul {
	font-family: Gautami;
	background: #ffffff;
	margin: 0 0 0 -10px;
	border-radius: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	display: none;
}
.main-menu ul ul li {
	float: none;
	position: relative;
	color: #ffffff;
	text-transform: none;
	margin: 0 0 5px 0;
	padding: 0;
}
.main-menu ul ul li:hover {
	background: none;
}
.main-menu ul ul li:first-child a {
	color: #007FFF;
	font-weight: bold;
	font-size: 1.125em;
}
.main-menu ul ul li:last-child, .main-menu ul ul li:last-child:hover {
	background: none;
}
.main-menu ul ul li a {
	color: #000;
	font-size: 1.000em;
}
.main-menu ul ul li a:hover {
	text-decoration: underline;
}

.main-menu ul ul li a:active {
	background-color: #ff8a00; 
}
.main-menu ul ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}
.home-image {
	background: url(../images/homepage/girl-image.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	min-height:700px;
	border: 0;
	padding: 0px;
	height:800px;
}
.formbox {
	width: 100%;
	background-color: #000;
	float: right;
	z-index: 999;
	opacity: 0.6;
	margin-top: 120px;
	height: 370px;
	color: #ffffff;
}
.formbox p {
	padding: 30px 20px 0px 20px;
	color: #ffffff;
	font-size: 15px;
}
.textinputuser {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid white;
	width: 200px;
	margin-left: 20px;
	background-image: url(../images/user.png);
	background-repeat: no-repeat;
	padding-left: 30px;
	min-height: 20px;
	color: #f6f6f6;
}
.textinputuser input[type="text"]:before {
	font-family: 'FontAwesome';
	position: absolute;
	top: 0px;
	left: -5px;
	content: "\f007";
}
.textinputpwd {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid white;
	width: 200px;
	margin-left: 20px;
	background-image: url(../images/password.png);
	background-repeat: no-repeat;
	padding-left: 30px;
	min-height: 20px;
	color: #f6f6f6;
}
.formloginbtn {
	display: block;
	width: 75%;
	height: 45px;
	background: #ff8a00;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	border-style: none;
	margin-top: 30px;
	z-index: 3;
	opacity: 1.3;
}
.login-container {
	padding: 40px 5px 0px 5px;
	font-size: 13px;
	font-weight: 700;
	font-color: #ffffff;
	text-align: center;
}
.formbox .link {
	color: #ffffff;
	text-align: center;
	text-decoration: normal;
}
.formbox .link a {
	color: #ffffff;
}
.menuitemhome {
	background: url(../images/home.png) no-repeat;
	width: 100px;
	float: left;
	margin-right: 10px;
}
.menuitem1 {
	background: url(../images/home.png) no-repeat;
	width: 100px;
	float: left;
	margin-right: 10px;
}
.menuitem2 {
	background: url(../images/home.png) no-repeat;
	width: 100px;
	float: left;
	margin-right: 10px;
}
.menuitem3 {
	background: url(../images/home.png) no-repeat;
	width: 100px;
	float: left;
	margin-right: 10px;
}
.menuitem4 {
	background: url(../images/home.png) no-repeat;
	width: 100px;
	float: left;
	margin-right: 10px;
}
.menuitem5 {
	background: url(../images/home.png) no-repeat;
	width: 100px;
	float: left;
	margin-right: 10px;
}
.footer-container {
	width: 100%;
	background-color: #054fa4;
	text-align: center;
	color: #ffffff;
	min-height: 100px;
}
.footer-menu {
	float: right;
	width: 100%;
	padding-top: 35px
}
.footer-menu ul {
	text-decoration: none;
	text-align: right;
	font-size: 14px;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, ' sans-serif';
	display: inline-block;
}
.footer-menu ul li {
	color: #ffffff;
	width: auto;
	list-style: none;
	display: inline;
	padding-right: 10px;
}
.footer-menu ul li a {
	color: #ffffff;
	text-decoration: none;
}
.footer-menu ul li a:hover {
	text-decoration: underline;
}
.main-menu a i {
	font-size: 25px;
}
/* CSS Document */

/*Form CSS starts here*/

.form-group {
	margin-bottom: 15px;
}

/*Form CSS Ends here*/


/* Tablet Portrait view */
@media only screen and (min-width: 768px) and (max-width: 995px) {
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
.footer-menu ul li {
	color: #4e4e4e;
	list-style: none;
	text-align: center;
}
}

/* Mobile Landscape view */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.tvs-social {
	text-align: center;
}
.tvs-contact {
	text-align: center;
	padding-top: 5px;
}
.tvs-logo {
	text-align: center;
	float: none;
}
.tvs-logo img {
	width: 75%;
	border: none;
}
.megamenu-container {
	width: 100%;
	height: 100px;
}
.footer-menu ul li {
	color: #ffffff;
	list-style: none;
	padding-right: 10px;
	text-align: center;
 font-size:
}
.main-menu {
	display: block;
	padding: 0;
	color: #ffffff;
	text-decoration: none;
	width: 100%;
	font-size: 10px;
}
.main-menu ul li a {
	display: block;
	padding: 0;
	color: #ffffff;
	text-decoration: none;
	width: 40px;
	font-size: 10px;
}
.textinputuser {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid white;
	width: 300px;
	margin-left: 20px;
	background-image: url(../images/user.png);
	background-repeat: no-repeat;
	padding-left: 30px;
	min-height: 20px;
	color: #f6f6f6;
}
.textinputpwd {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid white;
	width: 300px;
	margin-left: 20px;
	background-image: url(../images/password.png);
	background-repeat: no-repeat;
	padding-left: 30px;
	min-height: 20px;
	color: #f6f6f6;
}
}

/* Main Mobile portrait View */
@media only screen and (max-width: 479px) {
.tvs-social {
	text-align: center;
}
.prime-menu {
	margin-top: 30%;
	position: absolute;
}
.main-menu {
	z-index: 9999;
}
.footer-menu ul li {
	color: #4e4e4e;
	list-style: none;
	display: inline;
	padding-right: 10px;
	text-align: center;
}
}
/*Dropdown Menu CSS Starts Here*/
.dropdown p {
	text-align: center;
}
.dropdown nav {
	margin-top: 30px;
	z-index: 999;
	margin-left:5px;
	
}
.dropdown nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}
.dropdown nav ul li {
	display: inline-block;
}
.dropdown nav a {
	display: block;
	color: #054fa4;
	font-size: 14px;
	text-decoration: none;
	line-height: 1.85em;
	font-style: italic;
}
.dropdown nav a:hover {
}
/* Hide Dropdowns by Default */
.dropdown nav ul ul {
	display: none;
	position: absolute;
	top: 47px; /* the height of the main nav */
}
/* Display Dropdowns on Hover */
.dropdown nav ul li:hover > ul {
	display: inherit;
	width: 130px;
	line-height: 30px;
}
/* Fisrt Tier Dropdown */
.dropdown nav ul ul li {
	display: list-item;
	position: relative;
	background-color: #ebebeb;
	border-bottom: 1px solid #c6c6c6;
	padding: 10px;
	opacity: 1;
	z-index: 9999;
}
/* Second, Third and more Tiers	*/

.dropdown nav ul li img {
	width: 100%;
}
.dropdown_bg {
	
	width: 60px;
	height: auto;
}	

.dropdown_divider {border-left: 1px solid #a8a8a8; height: 75px;}

/* TVS CSS STARTS HERE*/

/*Dashboard classes Starts here*/



@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:100");


@media screen and (min-width: 600px) 

.dashboard h1 {
	font-size: 1.5em;
	line-height: 1.4em;
	text-align: center;
	padding: 0.5em;
}

.dashboard section {
	zoom: 1;
	position: relative;
	height: auto;
}

.dashboard section:after,
.dashboard section:before {
	display: table;
}

.dashboard section:after {
	clear: both;
}

.dashboard section h4 {
	background: #054fa4;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.2);
	border-top: none;
	padding: 15px 20px;
	color: #ffffff;
}

.dashboard section h4:first-child {
	border-top: 1px solid rgba(0,0,0,0.2);
}

@media screen and (min-width: 600px) {
.dashboard section h4 {
		position: relative;
/*		width: 33.333333333333336%;*/
	width:15%;
		
		display: block;
	}
}

.dashboard section ul {
	zoom: 1;
	position: relative;
	height: auto;
	min-height: 100%;
	border: 1px solid rgba(0,0,0,0.2);
	border-left: none;
	display: none;
}

.dashboard section ul:after,
.dashboard section ul:before {
	content: "";
	display: table;
}

.dashboard section ul:after {
	clear: both;
}

.dashboard section ul li {
	list-style: circle;
}

@media screen and (min-width: 600px) {
.dashboard section ul {
		position: absolute;
		
	/*width: 66.66666666666667%;*/
		right: 0;
		top: 0;
		padding: 15px 30px;
	}
}

.dashboard section .active {
	cursor: default;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-right: none;
	background: #ff8a00;
}

@media screen and (min-width: 600px) {
.dashboard section .active {
		
		border-right: 1px solid rgba(0,0,0,0);
	}
}

.dashboard section .active + ul {
	display: block;
	width:74%;
	border:1px solid #ccc;
	
}

